.input-icons i {
    position: absolute;
}
.icon {
    padding: 10px;
    min-width: 40px;
}
::placeholder {
    padding-left: 1rem;
}
.list {
    list-style-type: none;
    column-gap: 20px;
    text-decoration: none;

}

.vr {
    border-left: 1px solid #2c3e50;
    column-gap: 20px;
  }
  .profile {
    padding-left: auto;
  }
  .discover {
    text-align: center;
  }
  .picture {
    background:url("../images/astronomy-1867616_960_720.jpg") no-repeat;
  }
  .user {
    column-gap: 10px;
  }
  .font {
    font-size: 0.75rem;
  }
  .text {
    font-size: 0.75rem;
  }
  .tanitim {
    font-size: 0.75em;
    padding-left: 0.25rem;
  }
.height {
  width: 10px;
  height: 10px;
}
.shape:hover {
  background-color: #bdc3c7;
}
.influence:hover {
  background-color: #bdc3c7;
}
.last {
  padding-left: 1.5rem;
}
.icon {
  column-gap: 10px;
}